@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@keyframes morphing {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
  
  @keyframes floating {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(100px, 100px) rotate(180deg);
    }
    100% {
      transform: translate(0, 0) rotate(360deg);
    }
  }
  
  .shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    animation: morphing 2s ease-in-out infinite alternate, floating 3s ease-in-out infinite alternate;
  }
  
  .shape-1 {
    top: -150px;
    left: -150px;
    width: 600px;
    height: 600px;
    animation-delay: 0s;
  }
  
  .shape-2 {
    bottom: -150px;
    right: -150px;
    width: 500px;
    height: 500px;
    animation-delay: -5s;
  }
  
  .shape-3 {
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    animation-delay: -2s;
  }
  
  .shape-4 {
    top: 25%;
    right: 25%;
    width: 400px;
    height: 400px;
    animation-delay: -2s;
  }
  
  /* Add these Tailwind utilities if they're not already in your config */
  @layer utilities {
    .animate-pulse {
      animation: pulse 21 cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  
    @keyframes pulse {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }
  }

  body {
    background-color: #111827; /* This is the color for bg-gray-900 */
  }